.vagrant
puppet-manifest.pp
Vagrantfile
config.yml
modules/deployment/files/ssh/id_rsa
modules/deployment/files/ssh/id_rsa.pub
modules/deployment/files/ssh/authorized_keys
modules/deployment/files/ssh/known_hosts
*.tar.gz
