# Server settings.
$server_admin_email = "webmaster@example.com"
$mysql_root_password = 's0mes@curep4ssw0rD!'

# Project settings.
$client_name = "megacorp"
$project_name = "enterprise"
$python_dir_name = "project"
$production_domain = "example.com"
$staging_domain = "staging.example.com"
$media_url = "/media/"
$static_url = "/static/"
$git_checkout_url = "git@github.com:user/megacorp_enterprise.git"

# Include everything we
# want on this server.
include aptitude
#include theTeam # our private module which include deployment keys etc.
include sshd
include iptables
include logrotate
include denyhosts
include apache2
include nginx
include memcached
include mysql
include python2
include version_control

include djangoapp

djangoapp::instance { "megacorp_enterprise":
    client_name => $client_name,
    project_name => $project_name,
    python_dir_name => $python_dir_name,
    media_url => $media_url,
    static_url => $static_url,
    production_domain => $production_domain,
    staging_domain => $staging_domain,
    git_checkout_url => $git_checkout_url}
